
/* nav */
.icons-nav a :hover{
    color: #FF6600;
}
.icon-search-nav .rounded-circle {
    background: #FF6600;
    width: 26px;
    height: 26px;
    padding: 1px 0 2px 2px;
    top: 3px;
    right: 3px;
}
/* Under nav */
.main-nav {
    box-shadow: 0px 2px 4px #00000035;
}
.under-nav{
    background-color: #F6F6F6;
}
.under-nav p{
    font-size: 12px;
}

/* Miga de pan*/
.breadcrumb-item a{
    color: #FF6600;
}
.main-container{
    background-color: #EEEEEE;
}
.main-container .avatar{
    background-color: #FF6600;
    height: 64px;
    width: 64px;
}
.main-container .card-title{
    font-size: 21px;
}
.list-items a{
    box-shadow: 0 0 2px #777777 ;
    border-radius: 4px;
}
.list-items a:hover, 
.list-items a.seleccionado {
    background-color: #777777 !important;
    color: white !important;
}
/* Enlaces descripción */
.bg-white h4 {
    border-bottom: dashed 3px #777;
}

/* Buttons */
.btn-enlaces {
    background-color: #FF6600;
    border-color: #FF6600;
}

/* ADMINISTRAR MIS DATOS HTML */

/* Div usuario */
.usuario-administrar-datos {
background-color: #F2F0EE;
}
.avatar img {
    width: 100px;
}
.avatar i {
    right: 0px;
    width: 30px;
    height: 30px;
    top: 0;
}

/* Div información personal */
ul.nav-tabs .nav-link {
    border-bottom: 3px solid transparent;
    color: #666666;
    font-size: 18px;
}

ul.nav-tabs .nav-link.active {
    border-bottom-color: #77C8D2 !important;
    font-weight: bold;
}
ul.nav-tabs .nav-link.active i{
    color: #77C8D2;
}

.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:focus {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: transparent;
}
.btn-amd{
    background-color: #FF944D;
    border-color: #FF944D;
    font-weight: bold;
    border: 0;
}
.bi.bi-check-lg.pe-2{
    color: #99CC33;
    font-size: 20px;
}
.bi.bi-x-lg.pe-2{
    color: #CC0033;
}
.bi.bi-heart{
    color: white;
    font-size: 32px;
}
.termino-msj{
    font-size: 12px;
}
.bloque-celeste{
    background-color: #77C8D2;
}
.bloque-celeste .txt{
    font-size: 21px;
    font-weight: bolder;
}
.bloque-celeste button{
    font-weight: bolder;
}
.contenedor-icono{
    left: 0;
    right: 0;
    top: -16px;
}
.contenedor-icono .icon-circle{
    border: 1px solid #FF6600;
    background-color: #FF6600;
    color: black;
}
.text-icons i{
    color: #FF6600;
}
/* Formulario datos básicos */
.form-datos-basicos label {
    color: #707070;
    font-size: 12px;
}
.form-datos-basicos h3 {
    color: #666;
    font-size: 24px;
}
.form-datos-basicos .stepper {
    background-color: #E5E5E5;
    color: #666;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-top: 8px;
    position: relative;
}
.form-datos-basicos .col.active .stepper{
    background-color: #FF944D;
    color: #000;
}
.form-datos-basicos .col.active .txt-stepper{
    color: #000;
}
.form-datos-basicos .txt-stepper{
    color: #666;
    font-size: 14px;
    line-height: 21px;
}
.form-datos-basicos .stepper::before,
.form-datos-basicos .stepper::after{
    position: absolute;
    content: '';
    bottom: 15px;
    right: -202px;
    height: 8px;
    width: 177px;
    background: #E5E5E5;
    border-radius: 4px;
}

.form-datos-basicos .row .col:last-child .stepper::after,
.form-datos-basicos .row .col:last-child .stepper::before {
    display: none;
}
